body {
    background-color: blanchedalmond;
}
body {
    background-color: blanchedalmond;
}
img {
    width: 20%;
    display: inline-block;
    border-radius: 80px;
    margin: 15px;
    padding: 6px;
    border: 5px solid black
}