body {
    background-color: blanchedalmond;
}
body {
    background-color: blanchedalmond;
}
img {
    width: 20%;
    display: inline-block;
    border-radius: 80px;
    margin: 15px;
    padding: 6px;
    border: 5px solid black
}
.texto {
    width: 1150px;
    margin: 8px;
    padding: 10px;
}
h1 {
    font-size: 50px;
    color: coral;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
p {
    font-size: 28px;
}
img:hover {
    transform: scaleX(-1);
  }
fieldset {
    width: 700px;
}